<% layout('layout/default') %>
<div class="col-sm-8 col-sm-offset-2 mt-100">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color: #E53844!important;">
            <h3 class="text-center text-white">DoctorDial</h3>
        </div>
        <div class="panel-body">
            <h3 class="text-success"><i class="fa fa-thumbs-up"></i> Account verification successful!</h3>
            <p>Your account has been verified, you can now login!</p>
        </div>
    </div>
</div>